{% extends "template/base.njk" %}

{% block head %}
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" href="gear.ico">
    <link rel="stylesheet" href="/content/about.css">
{% endblock %}