<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://example.com/favicon.png">
    <link rel="stylesheet" href="/content/main.css"> 
    <link rel="stylesheet" href="https://use.typekit.net/cjk4eli.css">

    {% block head %}
        <title>Blogs</title>
    {% endblock %}

</head>

<body>
    <nav>
        <h1>BlogZaa</h1>
        <a href="/">BLOGS</a>
        <a href="/about">ABOUT</a>
        <a href="/settings">SETTINGS</a>
    </nav>

    {% block main %}
        
    {% endblock %}
</body>